/.project
*.qm
*.pro.user
npackdcl/build/
wpmcpp/build/
*.orig
*.user
cov-int/
npackdcl/ftests/build/
npackdcl/tests/build/
cov-analysis/


vimorgrep/build/
*.back.aip
**/*-cache/
nih/*
hierarchy.zip
clu/build/
clu/src/clu.pro.user.2.7pre1
*.back*.aip
npackdstatic/
*.autosave
/build/
/npackdcl/install/
/wpmcpp/install/
/exeproxy/build/
/npackdg/build/
/npackdg/install/
